<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POC自动打包上线.Properties.Settings.SPDActConnectionString"
            connectionString="Data Source=192.168.0.9;Initial Catalog=SPDAct;User ID=sa;Password=111122;Connection Timeout=30;max pool size=512"
            providerName="System.Data.SqlClient" />
        <add name="POC自动打包上线.Properties.Settings.SPDActConnectionString1"
            connectionString="Data Source=192.168.0.9;Initial Catalog=PictureAct;User ID=sa;Password=111122"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="isDel" value="false" /><!--清空现有存放文件路径 true 清空 false不清空-->
    <add key="picFromPath" value="E:\内部平台\MIS\Act\actimages"/>
  </appSettings>
</configuration>