<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POC13W数据跑取.Properties.Settings.SPDActConnectionString1"
            connectionString="Data Source=192.168.0.191;Initial Catalog=SPDAct;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="POC13W数据跑取.Properties.Settings.SPDActConnectionString2"
            connectionString="Data Source=192.168.0.191;Initial Catalog=SPDAct;User ID=sa;Password=111122"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="isDel" value="false" /><!--清空现有存放文件路径 true 清空 false不清空-->
    <add key="picFromPath" value="D:\actimages"/>
  </appSettings>
</configuration>